.gameBoard {
position: relative;
border: solid 1px;
padding: 0;
border-radius: 50%;
list-style: none;
margin: auto;
top: 50%;
width: 600px;
height: 600px;
margin: auto;
transform: translateY(10%);
}

.center {
    float: none;
    display: block;
    width: 200px;
    margin: 10px auto;
}

/*#canvas {
    background-image: url(/img/youlose.png);
}*/

/*Red Wedge*/
.sliceRed {
overflow: hidden;
position: absolute;
top: 0; right: 0;
width: 50%; height: 50%;
transform-origin: 0% 100%;
transform: rotate(270deg) skewY(0deg); 
}

/*.sliceRed:first-child {
transform: rotate(270deg) skewY(0deg);
}*/

.slice-contentsRed {
position: absolute;
left: -100%;
width: 200%; height: 200%;
border-radius: 50%;
background: red;
}


.sliceRed:active .slice-contentsRed { background: violet; } /* highlight on click */

/*Yellow Wedge*/
.sliceYellow {
overflow: hidden;
position: absolute;
top: 0; right: 0;
width: 50%; height: 50%;
transform-origin: 0% 100%; 
transform: rotate(90deg) skewY(0deg);
}

.slice-contentsYellow {
position: absolute;
left: -100%;
width: 200%; height: 200%;
border-radius: 50%;
background: yellow;
}

.sliceYellow:active .slice-contentsYellow { background: indigo; }

/*Green Wedge*/
.sliceGreen {
overflow: hidden;
position: absolute;
top: 0; right: 0;
width: 50%; height: 50%;
transform-origin: 0% 100%; 
}

.slice-contentsGreen {
position: absolute;
left: -100%;
width: 200%; height: 200%;
border-radius: 50%;
background: green;
}


.sliceGreen:active .slice-contentsGreen { background: teal; }

/*Blue Wedge*/
.sliceBlue {
overflow: hidden;
position: absolute;
top: 0; right: 0;
width: 50%; height: 50%;
transform-origin: 0% 100%;
transform: rotate(180deg) skewY(0deg); 
}


.slice-contentsBlue {
position: absolute;
left: -100%;
width: 200%; height: 200%;
border-radius: 50%;
background: blue;
}

.sliceBlue:first-child {
transform: rotate(90deg) skewY(0deg);
}

.sliceBlue:active .slice-contentsBlue { background: papayawhip; }


